@import 'variables';
@import 'mixins';

.button {
  background-color: $mainblue;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 5px;
  text-decoration: none;

  .hidden {
    display: none;
  }


  &:hover {
    animation: blue-to-pink 3s ease infinite;
    background-color: $lightblue;
    color: $white;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

@include animation-mixin(blue-to-pink, $lightblue, $darkblue);