body {
  background-color: $body--main;
  color: $black;
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
}

body, p, ol, ul, td {

  font-size: 16px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: black;

  &:hover {
    color: lighten(black, 30%);
    text-decoration: none;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

.message {
  &:not(:empty) {
    padding: 5px;
    border: 1px solid;
    background-color: lighten($green, 50%);
  }

  &--nnotice {
    color: green;
  }

  &--alert {
    color: red;
  }
}

label {
  display: block;
}
